[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
streamlit = "*"
gitpython = "*"
streamlit-chat = "*"
streamlit-extras = "*"
google-generativeai = "*"
pinecone-client = "*"
openai = "*"
tiktoken = "*"
google-cloud-aiplatform = "*"

[dev-packages]

[requires]
python_version = "3.11"
